<div class="container-fluid">
  <h1> Bootcamp Enrollment Form</h1>
  <form #userForm="ngForm">

    {{userForm.value | json}}<br>
    {{userModel | json}}
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="userModel.name">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input type="tel" class="form-control" name="phone" [(ngModel)]="userModel.phone">
    </div>

    <div class="form-group">
      <select class="custom-select" name="topic" [(ngModel)]="userModel.topic">
        <option selected> I am intrsted in </option>
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
    </div>

    <div class="mb-3">
      <label>Time preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" [(ngModel)]="userModel.timePreference" value="morning">
        <label class="form-check-lable">Morning (9AM - 12PM)</label>
      </div>
      <div class="form-check"> 
        <input class="form-check-input" type="radio" name="timePreference" [(ngModel)]="userModel.timePreference" value="evening">
        <label class="form-check-lable">Evening (5PM - 8PM)</label>
      </div>
    </div>

    <div class="form-check mb3">
      <input class="form-check-input" name="subscribe" [(ngModel)]="userModel.subscribe" type="checkbox">
      <label class="form-check-lable">
        send me promotional
      </label>
    </div>

    <button class="btn btn-primary" type="submit"> Submit Form</button>
  </form>
</div>